.cabeçalho {
    background-color: #383D58;
    color: white;
     display: flex; 
    justify-content: space-around;}
 .imagemcabeçalho{width: 20%;}
  
 .listacabeçalho{display: inline-block;}
    
 